
/**/
input{
  width: 200px;
  height: 30px;
}
html{

  background-color:#324644;

  /*border-color:blue;*/

}
table {
    margin: 10px;
    color: #fff;

}
th, td {
    padding: 5px;
    border: 1px solid #999;
}



/*#allShoes{
  margin:0 auto;
width:1000px;
background-color:white;
}*/

img{
  margin-left:20em;
  align:center;
  margin-top:1em;
  margin-bottom: 1em;
  height:300px;
  border-radius: 20%;
  width:300px;
}
#myHeading{
  /*background-color:#DDDDDD;
  /*background-color: white;*/

text-align: center;
  /*font-family: Helvetica,Arial,sans-serif;*/
  /*font-weight: bold;*/*/
  /*font-size: 36;*/
  /*background-color: pink;*/

      margin: 0 0 10px 0;
      padding: 5px;
      font-size: 24px;
      background-color: #999;
      color: #fff;
  }

}
li{

  col-lg-15 {
      position: relative;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;
  }
  .col-xs-15 {
      width: 20%;
      float: left;
  }
  @media (min-width: 768px) {
  .col-sm-15 {
          width: 20%;
          float: left;
      }
  }
  @media (min-width: 992px) {
      .col-md-15 {
          width: 20%;
          float: left;
      }
  }
  @media (min-width: 1200px) {
      .col-lg-15 {
          width: 20%;
          float: left;
      }
  }
}


}
#dropDown{
  margin-top:1em;
  width: 800px;
  height: 150px;
  margin-bottom: 5em;



}
/*#brandDrpDwn,#colorDrpDwn,#sizeDrpDwn,#priceDrpDwn{
  margin-right:20em;
}*/
select{
  margin-top:2em;
}

#dropDown {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

/* The container <div> - needed to position the dropdown content */
#dropDown{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#dropDown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/* Links inside the dropdown */
#dropDown {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

/* Change color of dropdown links on hover */
#dropDown:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
#dropDown:hover .drop{
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#dropDown:hover{
    background-color: #3e8e41;
}

/*.Add{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    padding: 12px 16px;
margin-top:5em;
    display: block;
}*/

/* Change color of dropdown links on hover */
/*.drop:hover {background-color: #f1f1f1}*/

/* Show the dropdown menu on hover */
/*.drop:hover .drop{
    display: block;
}*/

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.drop:hover{
    background-color: #3e8e41;
}*/




























/*.drop{

  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.drop:hover {background-color: #3e8e41}

.drp:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/
